div h1 {
  padding: 30px;
  text-align: center;
  font-family: fantasy;
  color: brown;
}

div img {
  width: 75%;
  height: 750%;
  border-radius: 100%;
}

p {
  padding: 30px;
  text-align: center;
  color: brown;
  font-family: fantasy;
  font-size: 20px;
  font-style: oblique;
}
.botones {
  margin-top: 2%;
  text-align: center;
}
.fondo {
  background: url("../../../assets/blur-hospital.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
