<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand"><img src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" width="30"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="../home">Home</a>
              </li>
              <li class="nav-item" *ngIf="(tipo=='admin')">
                <a class="nav-link active" aria-current="page" routerLink="../lista-pacientes">Pacientes</a>
            </li>
            <li class="nav-item" *ngIf="(tipo=='admin')">
              <a class="nav-link active" aria-current="page" routerLink="../lista-especialistas">Especialistas</a>
          </li>
          <li class="nav-item" *ngIf="(tipo=='admin')">
            <a class="nav-link active" aria-current="page" routerLink="../registro">Altas</a>
        </li>
          </ul>
          <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <p style="color: white;"> {{nombre}}</p>
              </li>
              <br>
              <li class="nav-item">
                <p style="color: white;"> {{tipo}}</p>
              </li>
            </ul>
              <button class="btn btn-outline-danger" (click)="logOut()"><i class="bi bi-box-arrow-right"></i> Salir</button>

          </form>
      </div>
  </div>
</nav>
