<app-navbar></app-navbar>
<div @enterState class="container py-4">
<div class="card-deck text-center p-3 "  >
  <div  class="card m-3 esto"
   *ngFor="let especialista of listaEspecialista" style="width: 18rem;">
    <img appAgrandar class="card-img-top" (click)="llevarPaciente(especialista)" [src]="especialista.fotoUno" alt="Card image cap">
    <div class="card-body">
      <p class="card-text text-center">{{especialista.nombre}} {{especialista.apellido}}</p>
      <div class="row">
        <button class="btn btn-danger" *ngIf="especialista.enabled" (click)="changeEstado(especialista.id,false)" >Inhabilitar cuenta</button>
        <button class="btn btn-success" *ngIf="!especialista.enabled" (click)="changeEstado(especialista.id,true)">Habilitar cuenta</button>
      </div>
    </div>
  </div>
</div>
</div>
<table  *ngIf="exportar"  class="table table-hover">
  <thead >
    <tr class="table-dark">
      <th scope="col">Nombre</th>
      <th scope="col">Mail</th>
      <th scope="col">Edad</th>
      <th scope="col">Dni</th>
      <th scope="col">Especialidades</th>
      <th scope="col">Habilitar Cuenta</th>
    </tr>
  </thead>
  <tbody  >
    <tr class="table-warning" *ngFor="let especialista of listaEspecialista ,let i=index">
      <td> {{especialista.nombre}} {{especialista.apellido}}</td>
      <td>{{especialista.mail}}</td>
      <td>{{especialista.edad}}</td>
      <td>{{especialista.dni}}</td>
      <td>
        <section>
          <option *ngFor="let es of especialista.especialidad">{{es}}</option>
          <br>
        </section>
      </td>
      <td>
        <div class="row">
          <button class="btn btn-danger" *ngIf="especialista.enabled" (click)="changeEstado(especialista.id,false)" >Inhabilitar cuenta</button>
          <button class="btn btn-success" *ngIf="!especialista.enabled" (click)="changeEstado(especialista.id,true)">Habilitar cuenta</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table *ngIf="exportar" class="table table-hover" id='excel-table'>
  <thead>

    <tr class="table-dark" >
      <th *ngIf="exportar"scope="col">TIPO USUARIO</th>
      <th scope="col">Nombre</th>
      <th scope="col">Mail</th>
      <th scope="col">Edad</th>
      <th scope="col">Dni</th>
      <th scope="col">ObraSocial</th>
      <th *ngIf="exportar" scope="col">Especialidad</th>
    </tr>



  </thead>
  <tbody  >
    <tr  class="table-warning" *ngFor="let especialista of pacientesLista ,let i=index">
      <th *ngIf="exportar" scope="row">Paciente</th>
      <th>{{especialista.nombre}} {{especialista.apellido}} </th>
      <td>{{especialista.mail}}</td>
      <td>{{especialista.edad}}</td>
      <td>{{especialista.dni}}</td>
      <td >{{especialista.obraSocial}}</td>
      <td *ngIf="exportar" >-</td>
    </tr >
    <div *ngIf="exportar">
      <tr   class="table-warning" *ngFor="let item of especialistas">
        <th scope="row">Especialista</th>
        <td>{{item.nombre}} {{item.apellido}}</td>
        <td>{{item.mail}}</td>
        <td>{{item.edad}}</td>
        <td>{{item.dni}}</td>
        <td>-</td>
        <td>
          <section>
          <option *ngFor="let es of item.especialidad">{{es}}</option>
          </section>
        </td>
      </tr>
      <tr class="table-warning" *ngFor="let item of admins">
        <th scope="row">Administradores</th>
        <td>{{item.nombre}} {{item.apellido}}</td>
        <td>{{item.mail}}</td>
        <td>{{item.edad}}</td>
        <td>{{item.dni}}</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </div>

  </tbody>
</table>
<div @enterState class="container">
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-lg btn-primary ml-6 "  (click)="exportExcel()">Exportar a Excel </button>
    </div>
  </div>
</div>

