<main class="text-center">
  <section class="form-signin page-wrap">
      <form>
        <img class="mb-4" src="../../../assets/reporte.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Login</h1>

        <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="name@example.com"  name="email">
          <label for="email">Email</label>
        </div>
        <div class="form-floating mb-2">
          <input type="password" class="form-control" id="password" placeholder="Password"  name="password">
          <label for="password">Password</label>
        </div>
        <small class="text-danger" *ngIf="mostrarError">El email o la contraseña son incorrectas</small>
        <button class="w-100 btn btn-lg btn-primary mt-4" (click)="ingresar()">Ingresar</button>
      </form>
  </section>
</main>
