<app-navbar></app-navbar>



<div class="container py-4">

  <!--
  <div class="row">
    <div class="col-md-6 my-3">
      <div class="rounded-3">
        <h2>Especialidad</h2>
        <app-especialidades
          [tipo]="tipo"
          (espSelec)="this.selecEspecialidad($event)"
          [usuario]="usuario"
        ></app-especialidades>
      </div>
    </div>

    <div class="col-md-6 my-3">
      <div class="rounded-3">
        <h2>{{ esEspecialsita ? "Pacientes" : "Especialistas" }}</h2>
        <app-filtro-doctor
        [tipo]="tipo"

        [Especialidad]="especialidadSeleccionada"
        [usuarioEntregado]="usuario"
        (MisTurnos)="turnosDelUsuario($event)"
          (usuarioSeleccionado)="
            this.esEspecialsita
              ? this.setSeleccionPaciente($event)
              : this.setSeleccionEspecialista($event) "
        ></app-filtro-doctor>
      </div>
    </div>
    </div>
    -->
    <div  *ngIf="tipo==='especialista'">
      <div *ngIf="turnos?.length !== 0 && !mostrarPacientesTurnos">
          <app-cards-lista
          [listaTurno]="turnos"
          (TurnosFiltrados)="FiltroPorPaciente($event)"
          ></app-cards-lista>
      </div>
      <div class="col" *ngIf="mostrarPacientesTurnos">
        <div @soso class= "rounded-3 ">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Historial de cada Encuentro</h2>
            <button  (click)="volverAtras()"  class=" btn btn-primary">Volver A Listado Pacientes</button>
          </div>

          <app-tabla-turnos
          [especialistaSelecionado]="especialistaSeleccionado"
          [pacienteSeleccionado]="pacienteSeleccionado"
          [historialMedico]="true"
          [tipo]="tipo"
          [turnos]="turnosPorPaciente"
          (elTurno)='SeleccionoTurno($event,contenido)'
           (change)='abrirModal(contenido)'
          ></app-tabla-turnos>
        </div>
      </div>

    </div>
  <div class="row">


    <div class="col" *ngIf="tipo!=='especialista'">
      <div @soso class= "rounded-3 ">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Historial de cada Encuentro</h2>
          <div *ngIf="this.tipo==='paciente'">
            Filtrar
            <select [(ngModel)]="opcionSeleccionado" (change)="capturar()" (click)="obtenerListaDeEspecialidades()"  class="form-select"   aria-label="Default select example">
              <option value="todos">Todos</option>
              <option *ngFor="let especialidad of ListaEspecialidades" [value]="especialidad">{{especialidad}}</option>

            </select>
          </div>
          <button  (click)="filtrarEspecialidadTurno()"  *ngIf="this.tipo==='paciente'" class=" btn btn-primary">Exportar en pdf</button>
        </div>

        <app-tabla-turnos
        [especialistaSelecionado]="especialistaSeleccionado"
        [pacienteSeleccionado]="pacienteSeleccionado"
        [historialMedico]="true"
        [tipo]="tipo"
        [turnos]="turnos"
        (elTurno)='SeleccionoTurno($event,contenido)'
         (change)='abrirModal(contenido)'
        ></app-tabla-turnos>
      </div>
    </div>
  </div>
  <ng-template #contenido >

          <div class="modal-header">
            <h5 class="modal-title pull left ">Historial Clinico</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"   (click)="modalRef?.hide()" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
            <p>Fecha De historial: {{elSupremoTurno?.Terminado}}</p>
          </div>
          <div class="modal-body">
            <p>Diagnostico :</p>
            <p>{{elSupremoTurno?.diagnostico}}</p>
            <br>
            <p> Altura : {{elSupremoTurno?.pasienteInfo?.altura}} cm</p>
            <p> Peso : {{elSupremoTurno?.pasienteInfo?.altura}}kg</p>
            <p> Temperatura : {{elSupremoTurno?.pasienteInfo?.temperatura}}°c</p>
            <p> PrecionAlta : {{elSupremoTurno?.pasienteInfo?.presion?.precionAlta}}</p>
            <p > PrecionBaja : {{elSupremoTurno?.pasienteInfo?.presion?.precionBaja}}</p>
            <div *ngIf="elSupremoTurno?.pasienteInfo?.datodinamicoUno?.clave">
              <p> {{elSupremoTurno?.pasienteInfo?.datodinamicoUno?.clave}} : {{ elSupremoTurno?.pasienteInfo?.datodinamicoUno?.valor }}</p>
              <p> {{elSupremoTurno?.pasienteInfo?.datodinamicoDos?.clave}} : {{ elSupremoTurno?.pasienteInfo?.datodinamicoDos?.valor }}</p>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-danger"  (click)="modalRef?.hide()" data-bs-dismiss="modal">Close</button>
          </div>

  </ng-template>


</div>

