<br>
<div class="container">
    <form   (ngSubmit)="aceptar()">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h2><b>Registro Paciente</b></h2>
            </div>
        </div>
        <div class="row formulario">
            <div class="col-md-6 mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" formControlName="nombre">
                <small class="invalid" *ngIf="formulario.get('nombre')?.errors?.required && formulario.get('nombre')?.touched">
                    El nombre es requerido
                </small>

            </div>

            <div class="col-md-6 mb-3">

                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido" formControlName="apellido">
                <small class="invalid" *ngIf="formulario.get('apellido')?.errors?.required && formulario.get('apellido')?.touched ">
                    El apellido es requerido
                </small>

            </div>
            <div class="col-md-6 mb-3">

              <label for="apellido" class="form-label">DNI</label>
              <input type="text" class="form-control" id="apellido" placeholder="Ingrese DNI" formControlName="apellido">
              <small class="invalid" *ngIf="formulario.get('apellido')?.errors?.required && formulario.get('apellido')?.touched ">
                  El apellido es requerido
              </small>

          </div>


            <div class="col-md-6 mb-3">

                <label for="edad" class="form-label">Edad</label>
                <input type="number" class="form-control" id="edad" placeholder="Ingrese edad" formControlName="edad">
                <small class="invalid" *ngIf="formulario.get('edad')?.errors?.required && formulario.get('edad')?.touched ">
                    La edad es requerida
                </small>
                <small class="invalid" *ngIf="formulario.get('edad')?.errors?.min || formulario.get('edad')?.errors?.max && formulario.get('edad')?.touched ">
                    La edad debe ser entre 18 a 99 años
                </small>

            </div>
            <div class="col-md-6 mb-3">

              <label for="apellido" class="form-label">Obra Social</label>
              <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido" formControlName="apellido">
              <small class="invalid" *ngIf="formulario.get('apellido')?.errors?.required && formulario.get('apellido')?.touched ">
                  El apellido es requerido
              </small>

          </div>
            <div class="col-md-6 mb-3">

              <label for="apellido" class="form-label">Email</label>
              <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido" formControlName="apellido">
              <small class="invalid" *ngIf="formulario.get('apellido')?.errors?.required && formulario.get('apellido')?.touched ">
                  El apellido es requerido
              </small>

          </div>
          <div class="col-md-6 mb-3">

            <label for="apellido" class="form-label">Password</label>
            <input type="password" class="form-control" id="apellido" placeholder="Ingrese apellido" formControlName="apellido">
            <small class="invalid" *ngIf="formulario.get('apellido')?.errors?.required && formulario.get('apellido')?.touched ">
                El apellido es requerido
            </small>

        </div>


            <div class="col-md-6">
              <label for="foto" class="form-label">Foto 1</label>
              <input class="form-control" type="file" id="foto">
            </div>

            <div class="col-md-6">
              <label for="foto" class="form-label">Foto 2</label>
              <input class="form-control" type="file" id="foto">
            </div>

            <div class="col-md-12 mb-5">



            </div>

        </div>

        <div class="row mt-4">


            <div class="col-md-12 d-grid gap-2">

                <button type="submit" class="btn btn-primary btn-block" [disabled]="formulario.invalid" >
                    Aceptar
                </button>
            </div>

        </div>
    </form>
</div>

