<app-spinner
[isLoading]="especialidades.length === 0"
  [text]="'Cargando lista de especialidades...'"
>
</app-spinner>
<div
  class="my-3 animate__animated animate__fadeIn"
  *ngIf="this.especialidades.length !== 0">
 <!-- Finder -->
<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    [(ngModel)]="busqueda"
    placeholder="Buscar especialidad"
    (keyup)="filtarLista()"
  />

</div>
<!-- List -->
<div
  *ngIf="this.listacopiada"
  class="overflow-auto variantDefaultTableHeight"
>
  <div class="list-group">
    <button
      *ngFor="let specialty of this.listacopiada"
      class="list-group-item list-group-item-action"
      [ngClass]="{ active: this.especialidadSeleccionada?.id === specialty.id }"
      (click)="this.SelecEspecialidad(specialty)">
      <h6 class="my-0">{{ specialty.nombre }}</h6>
    </button>

    <span *ngIf="this.listacopiada?.length === 0" class="list-group-item">
      No existe la especialidad {{ busqueda }}
    </span>
  </div>
</div>
</div>
