<div id="divBase" class="row" style="align-items: center;">
  <label style="color:rgb(16, 16, 82) ;"  class="text-center mt-4"> <h2> Cantidad de Turnos por Especialidad</h2></label>
  <div class="col-md-6 mt-4 ml-4">
      <x-chartist
      class="col-md-6"
      [data]="data"
      [type]="type"
      [options]="options">
      </x-chartist>
  </div>
  <div class="col-md-5 mt-4 mb-4 mb-4">

    <div class="row">
        <div class="col-md-6 text-center">
             <label><strong>Especialidades</strong> </label>
             <hr>
            <div class="row" *ngFor="let label of labels">

                <label><strong>{{label}}</strong> </label>
            </div>
        </div>
        <div class="col-md-6 text-center">
          <label><strong>Cantidad turnos</strong> </label>
          <hr>
            <div class="row" *ngFor="let serie of series">

                <label>{{serie}}</label>
            </div>
        </div>
    </div>
</div>
</div>
<div class="mt-4 mb-4 ml-4">
  <button class="btn btn-primary" (click)="exportAsPDF('divBase')">Exportar PDF</button>
</div>
