<app-spinner
  [isLoading]="!this.turnosSelecionado"
  [text]="'Cargando lista de turnos'"
></app-spinner>
<div *ngIf="this.turnosSelecionado && turnosSelecionado.length === 0">
  <app-empty-card [text]="('No hay turnos')"></app-empty-card>
</div>

<div class="mb-3 animate__animated animate__fadeIn" *ngIf="this.turnosSelecionado?.length ">
  <!-- Count list -->
  <h4
    class="d-flex justify-content-between align-items-center mb-3"

  >
    <!-- *ngIf="this.showCountList" -->
    <span class="text-primary">Lista de Turnos</span>
    <span class="badge bg-primary rounded-pill">
      {{ this.turnosSelecionado?.length }}
    </span>
  </h4>

  <div *ngIf="this.turnosSelecionado" class="overflow-auto shiftTableHeight">
    <ul class="list-group">
      <li
        class="
          list-group-item list-group-item-action
          d-flex
          justify-content-between
          align-items-center
        "
        style="cursor: pointer"
        *ngFor="let turno of this.turnosSelecionado"

      >
        <div
          class="d-flex flex-column justify-content-start align-items-start"
          style="flex: 1"
        >
          <h6 class="my-0">Especialidad: {{ turno.especialidad }}</h6>
          <h6 class="my-0">Fecha: {{ this.formatShift(turno) }}</h6>
          <h6 class="my-0">Estado: {{ this.formatStatus(turno.estado) }}</h6>
        </div>

        <!-- Specialist -->
        <div
          class="d-flex justify-content-start align-items-center"
          style="flex: 1"

        ><!-- *ngIf="this.showSpecialist" -->
          <img
            class="me-3 rounded-circle"
            [src]="turno.especialista?.fotoUno"
            alt="User image"
            width="55"
            height="55"
          />

          <div>
            <small class="text-muted">Especialista</small>
            <h6 class="my-0">
              {{ turno.especialista?.apellido }}
              {{ turno.especialista?.nombre }}
            </h6>
            <h6 class="my-0">{{ turno.especialista?.mail }}</h6>
          </div>
        </div>

        <!-- Patient -->
        <div
          class="d-flex justify-content-start align-items-center"
          style="flex: 1"
          *ngIf=" turno.paciente"
        >
          <img
            class="me-3 rounded-circle"
            [src]="turno.paciente?.fotoUno"
            alt="User image"
            width="55"
            height="55"
          />

          <div>
            <small class="text-muted">Paciente</small>
            <h6 class="my-0">
              {{ turno.paciente?.nombre }} {{ turno.paciente?.apellido }}
            </h6>
            <h6 class="my-0">{{ turno.paciente?.mail }}</h6>
          </div>
        </div>

        <div
          class="d-flex justify-content-start align-items-center text-center"
          style="flex: 1"
          *ngIf="!turno.paciente"
        >
          <h6 class="my-0">Turno {{ this.formatStatus(turno.estado) }}</h6>
        </div>

        <!-- Buttons -->
        <div>
          <!-- ACEPTAR TURNO (solo especialista)-->
          <button
            class="btn btn-outline-primary me-3"
            *ngIf="botonAceptarYRechazarCondicion(turno)"
            (click)="AceptarTurno(turno)"
          >
            <i class="far fa-thumbs-up"></i>
          </button>

          <!-- RECHAZAR TURNO (SOLO ESPECIALISTA)-->
          <button
            class="btn btn-outline-secondary me-3"
            *ngIf="botonAceptarYRechazarCondicion(turno)"
            (click)="rechazarTurno(turno)"
            data-bs-toggle="modal"
            data-bs-target="#commentModal"
          >
            <i class="far fa-thumbs-down"></i>
          </button>

          <!-- CANCELAR TURNO (todos los roles)-->
          <button
            class="btn btn-outline-danger me-3"
            *ngIf="botonCancelarCondicion(turno)"
            (click)="cancelarTurno(turno)"
            data-bs-toggle="modal"
            data-bs-target="#commentModal"
          >

            <i class="far fa-window-close"></i>
          </button>

          <!-- FINALIZAR TURNO (SOLO ESPECIALISTA)-->
          <button
            class="btn btn-outline-success"
            *ngIf="botonFinalizarTurnoCondicion(turno)"
            (click)="finalizarTurno(turno)"
            data-bs-toggle="modal"
            data-bs-target="#completedModal"
          >
            <i class="far fa-check-square"></i>
          </button>

          <!-- Ver ReseÑA -->
          <button
            class="btn btn-outline-warning"
            *ngIf="botonVerReseniaTurnoCondicion(turno)"
            (click)="verResenia(turno)"
          >
            <i class="far fa-address-book"></i>
          </button>
          <!-- Completar encuesta -->
          <button
          class="btn btn-outline-primary"
          *ngIf="botonCompletarEncuestaCondicion(turno)"
          (click)="selecionarTurno(turno)"
          data-bs-toggle="modal"
          data-bs-target="#EncuestaModal"
        >
          <i class="fas fa-book-medical"></i>
        </button>

          <!-- Calificar Atencion -->
          <button
          class="btn btn-outline-info"
          *ngIf="botonCalificarAtencionCondicion(turno)"
          (click)="selecionarTurno(turno)"
          data-bs-toggle="modal"
          data-bs-target="#calificacionModal"
        >
        <i class="far fa-star"></i>
        </button>

        </div>


      </li>

      <app-empty-card *ngIf="turnosSelecionado.length === 0" [text]="'No hay turnos'">
      </app-empty-card>
    </ul>
  </div>


<!--  modal de Calificacion-->


<div class="modal fade"  id="calificacionModal" >
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="text-align: center;">¿Como calificaria la Atencion ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-md-6 mb-5 text-center">

        <label for="clasificacion" class="form-label text-center">Puntuación de la atencion &nbsp;&nbsp;</label>

        <p class="clasificacion">
            <input id="radio1" type="radio" name="puntuacion" value="5" >
            <label for="radio1" id="star" title="Hello This Will Have Some Value">★</label>
            <input id="radio2" type="radio" name="puntuacion" value="4" >
            <label for="radio2" id="star">★</label>
            <input id="radio3" type="radio" name="puntuacion" value="3" >
            <label for="radio3" id="star">★</label>
            <input id="radio4" type="radio" name="puntuacion" value="2" >
            <label for="radio4" id="star">★</label>
            <input id="radio5" type="radio" name="puntuacion" value="1"checked >
            <label for="radio5" id="star">★</label>
        </p>
        <!--
        <small class="invalid" *ngIf="formulario.get('puntuacion')?.errors?.required && formulario.get('puntuacion')?.touched">
            La puntuación del juego es requerido
        </small>
        -->
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="enviarCalificacion()"  data-bs-dismiss="modal" >ACEPTAR</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<!-- modal Encuesta-->


<div class="modal fade"  id="EncuestaModal">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Encuesta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <form [formGroup]="encuestaFrom" >
        <div class="modal-body">
                <!-- pregunta uno -->
            <div class="mb-3 ml-3" >
              <h5 for="txtareaComment" class="form-label">
                Mientras estuvo en la consulta, ¿pudo comentar al médico todas las cosas que le preocupaban por su salud?
             </h5>
              <input id="pregunta1" type="radio"  value="si" formControlName="preguntaUno">
              <label for="pregunta1" id="star" title="Hello This Will Have Some Value"><h6>Si</h6></label> <br>
              <input id="pregunta1" type="radio"  value="no" formControlName="preguntaUno">
              <label for="pregunta1" id="star"><h6>No</h6></label>
              <small class="invalid" *ngIf="encuestaFrom.get('preguntaUno')?.errors?.required && encuestaFrom.get('preguntaUno')?.touched">
                Esta Pregunta es requerida
              </small>
            </div>
      <!--pregunta dos  -->
            <div class="mb-3 ml-3">
              <h5 for="txtareaComment" class="form-label">
                ¿Cree que el tiempo de consulta fue el adecuado para darle un diagnóstico?
              </h5>
              <input id="pregunta2" type="radio"  value="si" formControlName="preguntaDos">
              <label for="pregunta2" id="star" ><h6>Si</h6></label> <br>
              <input id="pregunta2" type="radio"  value="no" formControlName="preguntaDos">
              <label for="pregunta2" id="star"><h6>No</h6></label>
              <small class="invalid" *ngIf="encuestaFrom.get('preguntaDos')?.errors?.required && encuestaFrom.get('preguntaDos')?.touched">
                Esta Pregunta es requerida
              </small>
            </div>
       <!--pregunta tres  -->
            <div class="mb-3 ml-3">
              <h5 for="txtareaComment" class="form-label">
                ¿Está satisfecho sobre la información que el médico le brindó sobre su diagnóstico?
              </h5>
              <input id="pregunta3" type="radio" value="si" formControlName="preguntaTres">
              <label for="pregunta3" id="star" ><h6>Si</h6></label> <br>
              <input id="pregunta3" type="radio"  value="no" formControlName="preguntaTres">
              <label for="pregunta3" id="star"><h6>No</h6></label>
              <small class="invalid" *ngIf="encuestaFrom.get('preguntaTres')?.errors?.required && encuestaFrom.get('preguntaTres')?.touched">
                Esta Pregunta es requerida
              </small>
            </div>
      <!--pregunta cuatro  -->
            <div class="mb-3 ml-3">
              <h5 for="txtareaComment" class="form-label">
                ¿Cómo calificaría el horario  del hospital?
              </h5>
              <input id="pregunta4" type="radio"  value="si" formControlName="preguntaCuatro">
              <label for="pregunta4" id="star" ><h6>Bueno</h6></label> <br>
              <input id="pregunta4" type="radio"  value="no" formControlName="preguntaCuatro">
              <label for="pregunta4" id="star"><h6>Promedio</h6></label> <br>
              <input id="pregunta4" type="radio"  value="masomenos" formControlName="preguntaCuatro">
              <label for="pregunta4" id="star"><h6>Malo</h6></label>
              <small class="invalid" *ngIf="encuestaFrom.get('preguntaCuatro')?.errors?.required && encuestaFrom.get('preguntaCuatro')?.touched">
                Esta Pregunta es requerida
              </small>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" [disabled]="encuestaFrom.invalid"   data-bs-dismiss="modal" (click)="enviarEncuesta()" >ACEPTAR</button>
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
              </div>
      </form>
    </div>
  </div>
</div>



<!--  modal de cancelacion-->
<div *ngIf="modalCancelyRechazar"  class="modal fade" id="commentModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detalles del turno</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <div class="modal-body">
        <form
          [formGroup]="comentarioTurnoFrom"
          (ngSubmit)="cancelacionYRechazarTurno()"
        >
          <div>
            <h5 for="txtareaCancel" class="form-label">
              {{tituloModalRechazarCancelacion}}
            </h5>

            <textarea
              class="form-control"
              placeholder="Deje un comentario aquí"
              style="height: 100px"
              id="txtareaCancel"
              style="resize: none"
              formControlName="comentario"
              autocomplete="off"
            ></textarea>
          </div>

          <div class="form-text text-danger">
            {{ cargarMensajeErrorCancelacionYRechazo("comentario") }}
          </div>
        </form>
      </div>




      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          [disabled]="comentarioTurnoFrom.invalid"
          (click)="cancelacionYRechazarTurno()"
        >
          Enviar comentario
        </button>
      </div>
    </div>
  </div>
</div>
<!-- historial modal -->
<div class="modal fade" id="completedModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detalles del turno</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <form
        [formGroup]="historialTurnoForm"
        (ngSubmit)="onCompletarTurno()"
      >
        <div class="modal-body">
          {{ historialTurnoForm.getRawValue() | json }}

          <div class="mb-3">
            <h5 for="txtareaComment" class="form-label">
              Reseña de la consulta
            </h5>

            <textarea
              class="form-control"
              placeholder="Deje un comentario aquí"
              style="height: 100px"
              id="txtareaComment"
              style="resize: none"
              formControlName="comment"
              autocomplete="off"
            ></textarea>

            <div class="form-text text-danger">
              {{ this.mensajeErrorHistorial("comment") }}
            </div>
          </div>

          <div class="mb-3">
            <h5 for="txtareaDiagnosis" class="form-label">Diagnóstico</h5>

            <textarea
              class="form-control"
              placeholder="Deje un comentario aquí"
              style="height: 100px"
              id="txtareaDiagnosis"
              style="resize: none"
              formControlName="diagnostico"
              autocomplete="off"
            ></textarea>

            <div class="form-text text-danger">
              {{ this.mensajeErrorHistorial("diagnostico") }}
            </div>
          </div>

          <!-- user Data -->
          <h5 class="form-label">Datos del paciente</h5>
          <div class="mb-3">
            <div class="row g-3">
              <div class="col-md-6">
                <label for="height" class="form-label">Altura</label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="height"
                    placeholder="Altura del paciente"
                    formControlName="altura"
                    min="30"
                    max="210"
                    autocomplete="off"
                  />
                  <span class="input-group-text">cm</span>
                </div>

                <div class="form-text text-danger">
                  {{ this.mensajeErrorHistorial("altura") }}
                </div>
              </div>

              <div class="col-md-6">
                <label for="weight" class="form-label">Peso</label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="weight"
                    placeholder="Peso del paciente"
                    formControlName="peso"
                    min="20"
                    max="180"
                    autocomplete="off"
                  />
                  <span class="input-group-text">kg</span>
                </div>
                <div class="form-text text-danger">
                  {{ this.mensajeErrorHistorial("peso") }}
                </div>
              </div>
            </div>

            <div class="row g-3 mt-2">
              <div class="col-md-6">
                <label for="temperature" class="form-label">Temperatura</label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="temperature"
                    placeholder="Temperatura del paciente"
                    formControlName="temperatura"
                    min="36"
                    max="42"
                    autocomplete="off"
                  />
                  <span class="input-group-text">ºC</span>
                </div>
                <div class="form-text text-danger">
                  {{ this.mensajeErrorHistorial("temperatura") }}
                </div>
              </div>

              <div class="col-md-6">
                <label for="pressureSystolic" class="form-label">
                  Presión sanguínea
                </label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="pressureSystolic"
                    placeholder="Sistólica"
                    formControlName="pesionAlta"
                    min="120"
                    max="129"
                    autocomplete="off"
                  />
                  <span class="input-group-text">/</span>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Diastólica"
                    formControlName="presionBaja"
                    min="80"
                    max="84"
                    autocomplete="off"
                  />
                </div>

                <div class="form-text text-danger">
                  {{ this.mensajeErrorHistorial("pesionAlta") }}
                </div>

                <div class="form-text text-danger">
                  {{ this.mensajeErrorHistorial("presionBaja") }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="onCompletarTurno()"
            [disabled]="historialTurnoForm.invalid"
          >
            Completar consulta
          </button>
        </div>
      </form>
    </div>
  </div>
</div>



</div>
