<div style="text-align: center;">
  <br>
  <div class="card" (click)="paciente()" style="width: 400px; cursor: pointer;">
    <img src="../../../../assets/paciente.jpg" alt="">
    <div class="card-header">
      <div class="card-title">
        Paciente
      </div>
    </div>
  </div>
  <br>
  <div (click)="especialista()" class="card" style="width: 400px; cursor: pointer;">
    <img src="../../../../assets/especialista(1).jpg" alt="">
    <div class="card-header">
      <div class="card-title">
        Especialista
      </div>
    </div>
  </div>

</div>
