
<div  class="fondo">
  <div @soso class="aparte" style="text-align: center;" *ngIf="!admin">
    <br>
    <div class="card  mt-5" (click)="paciente()" style="width: 600px; cursor: pointer;flex-grow: 1;">
      <img src="../../../../assets/paciente.jpg" alt="">
      <div class="card-header">
        <div class="card-title">
          Paciente
        </div>
      </div>
    </div>
    <br>
    <div  (click)="especialista()" class="card mt-5"  style="width: 600px; cursor: pointer;flex-grow: 1;">
      <img src="../../../../assets/especialista(1).jpg" alt="">
      <div class="card-header">
        <div class="card-title">
          Especialista
        </div>
      </div>
    </div>
  </div>
  <div   *ngIf="admin">
    <app-navbar></app-navbar>
    <div @soso class="card container mt-5" style="width: 800px; height: 350px;">
      <h1>QUE TIPO DE USUARIO QUIERE AGREGAR</h1>

     <button class="btn btn-primary mt-3 mb-3 pt-2 pb-2"    (click)="admistrador()">administrador</button>
      <button class="btn btn-success mt-3 mb-3 pt-2 pb-2" (click)="especialista()">Especialista</button>
      <button class="btn btn-warning mt-3 mb-3 pt-2 pb-2" (click)="paciente()"> Paciente</button>

      </div>

  </div>
</div>




